<div class="panel-body">
  <h2>{{animalToDisplay.name}}</h2>
  <img src="/images/{{animalToDisplay.image}}">
  <h3><b>Owner: </b>{{animalToDisplay.owner}}</h3>
  <p><b>Description: </b>{{animalToDisplay.description}}</p>
  <p><b>Location: </b>{{animalToDisplay.location}}</p>
  <p><b>Goal: </b>${{animalToDisplay.goal}}.00</p>
  <button type="">Help {{animalToDisplay.name}}</button>
  <h3>Percentage Funded</h3>
  <div class="progress">
  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
    60%
  </div>
</div>
</div>
