<h2>Earn your wings and wear a halo as your hat.</h2>
<h3>Some pets need serious medical attention and their owners can't afford it.</h3>
<h3>Scroll through our <a routerLink="all-animals">list</a> of of needy, sick and injured animals and choose a pet that needs your help. When you're ready to help just click the Good Deed button and give what you can.</h3>
<h2>Featured Pet In Need</h2>
<div class="panel-body">
  <h2>Kitten</h2>
  <img src="/images/kitten.jpg">
  <h3><b>Owner: </b>Ronny Boondocker</h3>
  <p><b>Description: </b>Kitten lost her tail in an errant door slam. I've found a doctor that can surgically attach a faux tail to Kitten's tail stub. She was so proud of her tail. I want her to purr again.</p>
  <p><b>Location: </b>Phoenix</p>
  <p><b>Goal: </b>$5000.00</p>
  <button type="">Help Kitten</button>
  <h3>Percentage Funded</h3>
  <div class="progress">
  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
    40%
  </div>
</div>
</div>
